In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
QM_file = "/Users/WCVan/Downloads/pdac_analysis_Collision_data/QM.top.table.tsv"

qm_pda = pd.read_csv(
    QM_file, comment="#", header=0, sep='\t'
)

classical_file = "/Users/WCVan/Downloads/pdac_analysis_Collision_data/classical.top.table.tsv" 

classical = pd.read_csv(
    classical_file, comment="#", header=0, sep='\t'
)

exocrine_file = "/Users/WCVan/Downloads/pdac_analysis_Collision_data/ExocrineLike.top.table.tsv"

exocrine_like = pd.read_csv(
    exocrine_file, comment="#", header=0, sep='\t'
)


human_annot_file = '/Users/WCVan/Downloads/pdac_analysis_Collision_data/homosapiens-annot.txt'

human_annot = pd.read_csv(
    human_annot_file, comment="#", header=0, sep='\t'
)

In [3]:
human_annot

           GENENAME           GENEID  ENTREZID     GENEBIOTYPE
0           5S_rRNA  ENSG00000263418       NaN            rRNA
1           5S_rRNA  ENSG00000265816       NaN            rRNA
2           5S_rRNA  ENSG00000266035       NaN            rRNA
3           5S_rRNA  ENSG00000266615       NaN            rRNA
4           5S_rRNA  ENSG00000266653       NaN            rRNA
...             ...              ...       ...             ...
68274         ZZEF1  ENSG00000074755   23140.0  protein_coding
68275  hsa-mir-1253  ENSG00000272920       NaN          lncRNA
68276   hsa-mir-423  ENSG00000266919       NaN          lncRNA
68277       snoZ196  ENSG00000281780       NaN          snoRNA
68278       snoZ196  ENSG00000283323       NaN          snoRNA

[68279 rows x 4 columns]

In [4]:
protein_coding= human_annot[human_annot['GENEBIOTYPE'] == 'protein_coding']
protein_coding

      GENENAME           GENEID  ENTREZID     GENEBIOTYPE
37        A1BG  ENSG00000121410       1.0  protein_coding
39        A1CF  ENSG00000148584   29974.0  protein_coding
40         A2M  ENSG00000175899       2.0  protein_coding
42       A2ML1  ENSG00000166535  144568.0  protein_coding
46     A3GALT2  ENSG00000184389  127550.0  protein_coding
...        ...              ...       ...             ...
68268   ZYG11A  ENSG00000203995  440590.0  protein_coding
68270   ZYG11B  ENSG00000162378   79699.0  protein_coding
68271      ZYX  ENSG00000159840    7791.0  protein_coding
68272      ZYX  ENSG00000285443    7791.0  protein_coding
68274    ZZEF1  ENSG00000074755   23140.0  protein_coding

[23125 rows x 4 columns]

In [5]:
qm_pda

,ID,Gene.Symbol,logFC,AveExpr,t,P.Value,adj.P.Val,B
1,229802_at,WISP1,-5.049133,6.395355,-16.618198,2.747791e-27,9.974206e-23,51.613343
2,201666_at,TIMP1,-3.902079,11.390549,-15.743309,7.084103e-26,1.285729e-21,48.426891
3,212354_at,SULF1,-4.901432,8.577694,-15.606707,1.186966e-25,1.436190e-21,47.920233
4,209366_x_at,CYB5A,1.934941,10.135185,15.240543,4.790454e-25,3.848842e-21,46.549902
5,204619_s_at,VCAN,-4.584026,7.720621,-15.214111,5.301581e-25,3.848842e-21,46.450291
...,...,...,...,...,...,...,...,...
36295,227898_s_at,ZFP41,0.000261,5.171131,0.003251,9.974146e-01,9.975245e-01,-7.103599
36296,204532_x_at,UGT1A1,0.000711,6.770696,0.002657,9.978869e-01,9.979693e-01,-7.103600
36297,216144_at,NaN,0.000152,5.208063,0.002197,9.982531e-01,9.983081e-01,-7.103601
36298,203621_at,NDUFB5,-0.000129,10.187363,-0.001781,9.985836e-01,9.986111e-01,-7.103602
36299,227031_at,SNX13,-0.000105,7.482312,-0.001154,9.990825e-01,9.990825e-01,-7.103603

In [6]:
qm_pda = qm_pda.loc[:, ['Gene.Symbol', 'adj.P.Val', 'P.Value', 't', 'B', 'logFC']]
qm_pda.rename(columns={'Gene.Symbol': 'ID'}, inplace=True)
qm_pda['ORF'] = qm_pda['ID']
qm_pda

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
1,WISP1,9.974206e-23,2.747791e-27,-16.618198,51.613343,-5.049133,WISP1
2,TIMP1,1.285729e-21,7.084103e-26,-15.743309,48.426891,-3.902079,TIMP1
3,SULF1,1.436190e-21,1.186966e-25,-15.606707,47.920233,-4.901432,SULF1
4,CYB5A,3.848842e-21,4.790454e-25,15.240543,46.549902,1.934941,CYB5A
5,VCAN,3.848842e-21,5.301581e-25,-15.214111,46.450291,-4.584026,VCAN
...,...,...,...,...,...,...,...
36295,ZFP41,9.975245e-01,9.974146e-01,0.003251,-7.103599,0.000261,ZFP41
36296,UGT1A1,9.979693e-01,9.978869e-01,0.002657,-7.103600,0.000711,UGT1A1
36297,NaN,9.983081e-01,9.982531e-01,0.002197,-7.103601,0.000152,NaN
36298,NDUFB5,9.986111e-01,9.985836e-01,-0.001781,-7.103602,-0.000129,NDUFB5
36299,SNX13,9.990825e-01,9.990825e-01,-0.001154,-7.103603,-0.000105,SNX13

In [7]:
qm_pda = qm_pda[qm_pda.ID.isin(protein_coding.GENENAME)]
qm_pda

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
2,TIMP1,1.285729e-21,7.084103e-26,-15.743309,48.426891,-3.902079,TIMP1
3,SULF1,1.436190e-21,1.186966e-25,-15.606707,47.920233,-4.901432,SULF1
4,CYB5A,3.848842e-21,4.790454e-25,15.240543,46.549902,1.934941,CYB5A
5,VCAN,3.848842e-21,5.301581e-25,-15.214111,46.450291,-4.584026,VCAN
6,CYB5A,4.717542e-21,7.797806e-25,15.113724,46.071138,1.877761,CYB5A
...,...,...,...,...,...,...,...
36294,GIGYF2,9.973063e-01,9.971689e-01,0.003560,-7.103598,0.000261,GIGYF2
36295,ZFP41,9.975245e-01,9.974146e-01,0.003251,-7.103599,0.000261,ZFP41
36296,UGT1A1,9.979693e-01,9.978869e-01,0.002657,-7.103600,0.000711,UGT1A1
36298,NDUFB5,9.986111e-01,9.985836e-01,-0.001781,-7.103602,-0.000129,NDUFB5
36299,SNX13,9.990825e-01,9.990825e-01,-0.001154,-7.103603,-0.000105,SNX13

In [8]:
# check duplicated values in the 'ID' column
duplicates = qm_pda[qm_pda.duplicated('ID', keep=False)]
duplicates

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
3,SULF1,1.436190e-21,1.186966e-25,-15.606707,47.920233,-4.901432,SULF1
4,CYB5A,3.848842e-21,4.790454e-25,15.240543,46.549902,1.934941,CYB5A
5,VCAN,3.848842e-21,5.301581e-25,-15.214111,46.450291,-4.584026,VCAN
6,CYB5A,4.717542e-21,7.797806e-25,15.113724,46.071138,1.877761,CYB5A
7,FXYD5,6.830223e-21,1.364745e-24,-14.968690,45.520991,-2.624233,FXYD5
...,...,...,...,...,...,...,...
36292,CPNE3,9.964870e-01,9.962948e-01,-0.004659,-7.103593,-0.000510,CPNE3
36294,GIGYF2,9.973063e-01,9.971689e-01,0.003560,-7.103598,0.000261,GIGYF2
36295,ZFP41,9.975245e-01,9.974146e-01,0.003251,-7.103599,0.000261,ZFP41
36296,UGT1A1,9.979693e-01,9.978869e-01,0.002657,-7.103600,0.000711,UGT1A1
36299,SNX13,9.990825e-01,9.990825e-01,-0.001154,-7.103603,-0.000105,SNX13

In [9]:
#aggregate results to handle duplicates
aggre_qm_pda = qm_pda.loc[qm_pda.groupby('ID')['P.Value'].idxmin()].reset_index(drop=True)
aggre_qm_pda

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
0,A1BG,8.726722e-04,5.812304e-04,3.587880,-1.114742,0.320040,A1BG
1,A1CF,6.106412e-14,4.791058e-15,9.709401,23.836157,2.599551,A1CF
2,A2M,3.346926e-14,2.332770e-15,9.872052,24.547320,1.085803,A2M
3,A4GALT,2.132778e-11,4.155213e-12,8.189934,17.155414,0.861505,A4GALT
4,A4GNT,6.807616e-03,4.980762e-03,2.890819,-3.112049,0.539802,A4GNT
...,...,...,...,...,...,...,...
14433,ZXDB,3.210487e-05,1.837104e-05,-4.566054,2.179113,-0.471031,ZXDB
14434,ZXDC,8.263544e-03,6.104263e-03,-2.819318,-3.297799,-0.232975,ZXDC
14435,ZYG11B,6.162875e-13,7.276808e-14,-9.097083,21.148412,-0.962290,ZYG11B
14436,ZYX,2.612873e-17,3.469530e-19,-11.903059,33.254946,-1.991044,ZYX
14437,ZZEF1,2.210064e-08,8.341853e-09,6.460416,9.671968,0.547311,ZZEF1

In [10]:
# check duplicated values in the 'ID' column
duplicates = aggre_qm_pda[aggre_qm_pda.duplicated('ID', keep=False)]
duplicates

Empty DataFrame
Columns: [ID, adj.P.Val, P.Value, t, B, logFC, ORF]
Index: []

In [11]:
qm_pda_sig = aggre_qm_pda[aggre_qm_pda['adj.P.Val'] < 0.05]
qm_pda_sig = qm_pda_sig[qm_pda_sig['logFC'].abs() > 1]
qm_pda_sig

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
1,A1CF,6.106412e-14,4.791058e-15,9.709401,23.836157,2.599551,A1CF
2,A2M,3.346926e-14,2.332770e-15,9.872052,24.547320,1.085803,A2M
7,AADAC,2.670833e-04,1.686203e-04,3.953739,0.056712,1.648647,AADAC
21,AATK,7.267838e-14,5.892517e-15,9.662695,23.631686,1.077534,AATK
22,ABAT,1.323158e-18,5.394840e-21,12.897790,37.364326,1.909672,ABAT
...,...,...,...,...,...,...,...
14410,ZSCAN10,4.855726e-14,3.655941e-15,9.770472,24.103345,1.067095,ZSCAN10
14413,ZSCAN2,1.290028e-12,1.703736e-13,8.906178,20.308211,1.026154,ZSCAN2
14430,ZWILCH,1.611955e-12,2.205730e-13,-8.848260,20.053202,-1.326036,ZWILCH
14431,ZWINT,8.790581e-10,2.562416e-10,-7.260396,13.093869,-1.733689,ZWINT
14436,ZYX,2.612873e-17,3.469530e-19,-11.903059,33.254946,-1.991044,ZYX

In [12]:
qm_pda_neg = aggre_qm_pda[aggre_qm_pda['adj.P.Val'] < 0.05]
qm_pda_neg = qm_pda_neg[qm_pda_neg['logFC'].abs() < 0.5]
qm_pda_neg

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
0,A1BG,8.726722e-04,5.812304e-04,3.587880,-1.114742,0.320040,A1BG
5,AAAS,4.033631e-03,2.880737e-03,3.077860,-2.608638,0.173555,AAAS
6,AACS,9.854841e-05,5.945104e-05,4.247564,1.051585,0.373032,AACS
8,AADAT,3.196413e-05,1.828434e-05,4.567314,2.183667,0.488018,AADAT
9,AAGAB,3.273127e-04,2.086022e-04,-3.892267,-0.145520,-0.407014,AAGAB
...,...,...,...,...,...,...,...
14423,ZSWIM1,7.111740e-06,3.784999e-06,4.977903,3.704669,0.358272,ZSWIM1
14429,ZW10,2.718140e-09,8.734978e-10,6.980853,11.887642,0.466470,ZW10
14432,ZXDA,1.285626e-02,9.705857e-03,-2.651681,-3.718337,-0.312340,ZXDA
14433,ZXDB,3.210487e-05,1.837104e-05,-4.566054,2.179113,-0.471031,ZXDB
14434,ZXDC,8.263544e-03,6.104263e-03,-2.819318,-3.297799,-0.232975,ZXDC

In [13]:
classical

,ID,Gene.Symbol,logFC,AveExpr,t,P.Value,adj.P.Val,B
1,212344_at,SULF1,4.703150,7.883137,20.368624,7.021075e-33,1.715659e-28,64.391855
2,212354_at,SULF1,5.634656,8.577694,20.276352,9.452925e-33,1.715659e-28,64.099961
3,241872_at,NaN,3.506562,5.392694,20.076425,1.806407e-32,2.185692e-28,63.464168
4,212353_at,SULF1,5.962041,8.204443,19.491068,1.234109e-31,1.119923e-27,61.576053
5,219773_at,NOX4,4.035310,5.876375,18.775583,1.362516e-30,9.891596e-27,59.213219
...,...,...,...,...,...,...,...,...
36295,212743_at,RCHY1,-0.000095,4.814640,-0.001338,9.989355e-01,9.990456e-01,-7.279381
36296,210880_s_at,EFS,-0.000087,5.359913,-0.001156,9.990808e-01,9.991634e-01,-7.279381
36297,209750_at,NR1D2,0.000090,8.258470,0.000509,9.995955e-01,9.996506e-01,-7.279381
36298,241497_at,NaN,0.000054,6.105453,0.000301,9.997608e-01,9.997883e-01,-7.279382
36299,233132_at,BMS1P20,-0.000005,6.990668,-0.000071,9.999438e-01,9.999438e-01,-7.279382

In [14]:
classical = classical.loc[:, ['Gene.Symbol', 'adj.P.Val', 'P.Value', 't', 'B', 'logFC']]
classical.rename(columns={'Gene.Symbol': 'ID'}, inplace=True)
classical['ORF'] = classical['ID']
classical

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
1,SULF1,1.715659e-28,7.021075e-33,20.368624,64.391855,4.703150,SULF1
2,SULF1,1.715659e-28,9.452925e-33,20.276352,64.099961,5.634656,SULF1
3,NaN,2.185692e-28,1.806407e-32,20.076425,63.464168,3.506562,NaN
4,SULF1,1.119923e-27,1.234109e-31,19.491068,61.576053,5.962041,SULF1
5,NOX4,9.891596e-27,1.362516e-30,18.775583,59.213219,4.035310,NOX4
...,...,...,...,...,...,...,...
36295,RCHY1,9.990456e-01,9.989355e-01,-0.001338,-7.279381,-0.000095,RCHY1
36296,EFS,9.991634e-01,9.990808e-01,-0.001156,-7.279381,-0.000087,EFS
36297,NR1D2,9.996506e-01,9.995955e-01,0.000509,-7.279381,0.000090,NR1D2
36298,NaN,9.997883e-01,9.997608e-01,0.000301,-7.279382,0.000054,NaN
36299,BMS1P20,9.999438e-01,9.999438e-01,-0.000071,-7.279382,-0.000005,BMS1P20

In [15]:
classical = classical[classical.ID.isin(protein_coding.GENENAME)]
classical

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
1,SULF1,1.715659e-28,7.021075e-33,20.368624,64.391855,4.703150,SULF1
2,SULF1,1.715659e-28,9.452925e-33,20.276352,64.099961,5.634656,SULF1
4,SULF1,1.119923e-27,1.234109e-31,19.491068,61.576053,5.962041,SULF1
5,NOX4,9.891596e-27,1.362516e-30,18.775583,59.213219,4.035310,NOX4
6,IGFBP3,1.275400e-26,2.636774e-30,18.581924,58.563072,4.977505,IGFBP3
...,...,...,...,...,...,...,...
36292,ABHD14B,9.986114e-01,9.984189e-01,-0.001988,-7.279380,-0.000142,ABHD14B
36293,HGSNAT,9.987380e-01,9.985730e-01,0.001794,-7.279380,0.000145,HGSNAT
36295,RCHY1,9.990456e-01,9.989355e-01,-0.001338,-7.279381,-0.000095,RCHY1
36296,EFS,9.991634e-01,9.990808e-01,-0.001156,-7.279381,-0.000087,EFS
36297,NR1D2,9.996506e-01,9.995955e-01,0.000509,-7.279381,0.000090,NR1D2

In [16]:
# check duplicated values in the 'ID' column
duplicates = classical[classical.duplicated('ID', keep=False)]
duplicates

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
1,SULF1,1.715659e-28,7.021075e-33,20.368624,64.391855,4.703150,SULF1
2,SULF1,1.715659e-28,9.452925e-33,20.276352,64.099961,5.634656,SULF1
4,SULF1,1.119923e-27,1.234109e-31,19.491068,61.576053,5.962041,SULF1
6,IGFBP3,1.275400e-26,2.636774e-30,18.581924,58.563072,4.977505,IGFBP3
9,VCAN,1.275400e-26,3.268914e-30,18.519165,58.351399,4.937280,VCAN
...,...,...,...,...,...,...,...
36289,FRMD4A,9.977858e-01,9.975109e-01,-0.003130,-7.279377,-0.000503,FRMD4A
36293,HGSNAT,9.987380e-01,9.985730e-01,0.001794,-7.279380,0.000145,HGSNAT
36295,RCHY1,9.990456e-01,9.989355e-01,-0.001338,-7.279381,-0.000095,RCHY1
36296,EFS,9.991634e-01,9.990808e-01,-0.001156,-7.279381,-0.000087,EFS
36297,NR1D2,9.996506e-01,9.995955e-01,0.000509,-7.279381,0.000090,NR1D2

In [17]:
#aggregate results to handle duplicates
aggre_classical = classical.loc[classical.groupby('ID')['P.Value'].idxmin()].reset_index(drop=True)
aggre_classical

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
0,A1BG,2.358197e-09,9.566879e-10,-6.960037,11.670443,-0.549344,A1BG
1,A1CF,7.996840e-06,4.668477e-06,-4.924150,3.349871,-1.136237,A1CF
2,A2M,3.929330e-17,2.331683e-18,-11.456451,31.326872,-1.114961,A2M
3,A4GALT,1.771349e-15,1.977817e-16,-10.432660,26.917472,-0.971043,A4GALT
4,A4GNT,4.578155e-02,3.759866e-02,2.115447,-5.086478,0.349528,A4GNT
...,...,...,...,...,...,...,...
14433,ZXDB,2.309093e-11,7.084187e-12,8.070161,16.517868,0.736642,ZXDB
14434,ZXDC,3.025946e-04,2.022104e-04,-3.901292,-0.276621,-0.227378,ZXDC
14435,ZYG11B,6.398938e-16,6.145265e-17,10.700086,28.078088,1.001514,ZYG11B
14436,ZYX,2.473306e-17,1.341618e-18,11.585515,31.875715,1.714761,ZYX
14437,ZZEF1,7.146633e-12,2.001879e-12,-8.353758,17.769199,-0.560174,ZZEF1

In [18]:
# check duplicated values in the 'ID' column
duplicates = aggre_classical[aggre_classical.duplicated('ID', keep=False)]
duplicates

Empty DataFrame
Columns: [ID, adj.P.Val, P.Value, t, B, logFC, ORF]
Index: []

In [19]:
classical_sig = aggre_classical[aggre_classical['adj.P.Val'] < 0.05]
classical_sig = classical_sig[classical_sig['logFC'].abs() > 1]
classical_sig

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
1,A1CF,7.996840e-06,4.668477e-06,-4.924150,3.349871,-1.136237,A1CF
2,A2M,3.929330e-17,2.331683e-18,-11.456451,31.326872,-1.114961,A2M
22,ABAT,3.737439e-18,1.402350e-19,-12.117197,34.118044,-1.587492,ABAT
23,ABCA1,7.495145e-13,1.733842e-13,8.902249,20.193494,1.401992,ABCA1
27,ABCA5,7.035333e-16,6.846321e-17,-10.675314,27.970820,-1.179995,ABCA5
...,...,...,...,...,...,...,...
14413,ZSCAN2,3.762075e-16,3.315485e-17,-10.841820,28.690830,-1.105323,ZSCAN2
14430,ZWILCH,3.528993e-18,1.300805e-19,12.135020,34.192671,1.302555,ZWILCH
14431,ZWINT,6.205598e-16,5.932236e-17,10.708179,28.113121,2.262519,ZWINT
14435,ZYG11B,6.398938e-16,6.145265e-17,10.700086,28.078088,1.001514,ZYG11B
14436,ZYX,2.473306e-17,1.341618e-18,11.585515,31.875715,1.714761,ZYX

In [20]:
classical_neg = aggre_classical[aggre_classical['adj.P.Val'] < 0.05]
classical_neg = classical_neg[classical_neg['logFC'].abs() < 0.5]
classical_neg

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
4,A4GNT,4.578155e-02,3.759866e-02,2.115447,-5.086478,0.349528,A4GNT
5,AAAS,1.419299e-03,1.006557e-03,-3.418259,-1.794590,-0.170553,AAAS
11,AAMDC,5.170675e-03,3.863298e-03,-2.978548,-3.046007,-0.210979,AAMDC
12,AAMP,1.984144e-03,1.425562e-03,3.308036,-2.120557,0.146106,AAMP
13,AAR2,2.792091e-08,1.280628e-08,6.360426,9.116072,0.335546,AAR2
...,...,...,...,...,...,...,...
14424,ZSWIM3,4.240414e-02,3.471044e-02,-2.149488,-5.017363,-0.130048,ZSWIM3
14425,ZSWIM5,1.103549e-02,8.501821e-03,-2.700254,-3.767206,-0.220822,ZSWIM5
14427,ZSWIM7,1.746564e-03,1.249044e-03,-3.350165,-1.996907,-0.410800,ZSWIM7
14429,ZW10,9.605187e-06,5.650281e-06,-4.875010,3.164737,-0.288242,ZW10
14434,ZXDC,3.025946e-04,2.022104e-04,-3.901292,-0.276621,-0.227378,ZXDC

In [21]:
exocrine_like

,ID,Gene.Symbol,logFC,AveExpr,t,P.Value,adj.P.Val,B
1,212354_at,SULF1,4.842742,8.577694,18.151505,1.162058e-29,3.175183e-25,56.934761
2,212353_at,SULF1,5.296025,8.204443,18.033895,1.749460e-29,3.175183e-25,56.536014
3,201666_at,TIMP1,3.735031,11.390549,17.738922,4.917073e-29,5.375761e-25,55.528220
4,212344_at,SULF1,3.920664,7.883137,17.686068,5.923867e-29,5.375761e-25,55.346474
5,204619_s_at,VCAN,4.404737,7.720621,17.208873,3.233760e-28,2.347645e-24,53.689336
...,...,...,...,...,...,...,...,...
36295,215099_s_at,RXRB,-0.000060,5.565281,-0.000946,9.992477e-01,9.993578e-01,-7.084566
36296,236227_at,TMEM161B,-0.000046,5.505388,-0.000545,9.995662e-01,9.996488e-01,-7.084566
36297,224467_s_at,PDCD2L,-0.000041,6.327030,-0.000494,9.996069e-01,9.996620e-01,-7.084566
36298,213830_at,YME1L1,0.000012,5.173620,0.000102,9.999188e-01,9.999463e-01,-7.084566
36299,203145_at,SPAG5,-0.000006,6.056077,-0.000058,9.999536e-01,9.999536e-01,-7.084566

In [22]:
exocrine_like = exocrine_like.loc[:, ['Gene.Symbol', 'adj.P.Val', 'P.Value', 't', 'B', 'logFC']]
exocrine_like.rename(columns={'Gene.Symbol': 'ID'}, inplace=True)
exocrine_like['ORF'] = exocrine_like['ID']
exocrine_like

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
1,SULF1,3.175183e-25,1.162058e-29,18.151505,56.934761,4.842742,SULF1
2,SULF1,3.175183e-25,1.749460e-29,18.033895,56.536014,5.296025,SULF1
3,TIMP1,5.375761e-25,4.917073e-29,17.738922,55.528220,3.735031,TIMP1
4,SULF1,5.375761e-25,5.923867e-29,17.686068,55.346474,3.920664,SULF1
5,VCAN,2.347645e-24,3.233760e-28,17.208873,53.689336,4.404737,VCAN
...,...,...,...,...,...,...,...
36295,RXRB,9.993578e-01,9.992477e-01,-0.000946,-7.084566,-0.000060,RXRB
36296,TMEM161B,9.996488e-01,9.995662e-01,-0.000545,-7.084566,-0.000046,TMEM161B
36297,PDCD2L,9.996620e-01,9.996069e-01,-0.000494,-7.084566,-0.000041,PDCD2L
36298,YME1L1,9.999463e-01,9.999188e-01,0.000102,-7.084566,0.000012,YME1L1
36299,SPAG5,9.999536e-01,9.999536e-01,-0.000058,-7.084566,-0.000006,SPAG5

In [23]:
exocrine_like = exocrine_like[exocrine_like.ID.isin(protein_coding.GENENAME)]
exocrine_like

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
1,SULF1,3.175183e-25,1.162058e-29,18.151505,56.934761,4.842742,SULF1
2,SULF1,3.175183e-25,1.749460e-29,18.033895,56.536014,5.296025,SULF1
3,TIMP1,5.375761e-25,4.917073e-29,17.738922,55.528220,3.735031,TIMP1
4,SULF1,5.375761e-25,5.923867e-29,17.686068,55.346474,3.920664,SULF1
5,VCAN,2.347645e-24,3.233760e-28,17.208873,53.689336,4.404737,VCAN
...,...,...,...,...,...,...,...
36295,RXRB,9.993578e-01,9.992477e-01,-0.000946,-7.084566,-0.000060,RXRB
36296,TMEM161B,9.996488e-01,9.995662e-01,-0.000545,-7.084566,-0.000046,TMEM161B
36297,PDCD2L,9.996620e-01,9.996069e-01,-0.000494,-7.084566,-0.000041,PDCD2L
36298,YME1L1,9.999463e-01,9.999188e-01,0.000102,-7.084566,0.000012,YME1L1
36299,SPAG5,9.999536e-01,9.999536e-01,-0.000058,-7.084566,-0.000006,SPAG5

In [24]:
# check duplicated values in the 'GeneID' column
duplicates = exocrine_like[exocrine_like.duplicated('ID', keep=False)]
duplicates

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
1,SULF1,3.175183e-25,1.162058e-29,18.151505,56.934761,4.842742,SULF1
2,SULF1,3.175183e-25,1.749460e-29,18.033895,56.536014,5.296025,SULF1
4,SULF1,5.375761e-25,5.923867e-29,17.686068,55.346474,3.920664,SULF1
5,VCAN,2.347645e-24,3.233760e-28,17.208873,53.689336,4.404737,VCAN
7,VCAN,8.968712e-23,1.729551e-26,16.119727,49.796185,4.322844,VCAN
...,...,...,...,...,...,...,...
36293,DENND3,9.990803e-01,9.989152e-01,-0.001364,-7.084565,-0.000114,DENND3
36294,TTC7A,9.991451e-01,9.990074e-01,-0.001248,-7.084565,-0.000081,TTC7A
36295,RXRB,9.993578e-01,9.992477e-01,-0.000946,-7.084566,-0.000060,RXRB
36296,TMEM161B,9.996488e-01,9.995662e-01,-0.000545,-7.084566,-0.000046,TMEM161B
36298,YME1L1,9.999463e-01,9.999188e-01,0.000102,-7.084566,0.000012,YME1L1

In [25]:
#aggregate results to handle duplicates
aggre_exocrine_like = exocrine_like.loc[exocrine_like.groupby('ID')['P.Value'].idxmin()].reset_index(drop=True)
aggre_exocrine_like

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
0,A1BG,5.187360e-05,2.496718e-05,-4.483985,1.900381,-0.339780,A1BG
1,A1CF,3.283915e-05,1.531270e-05,-4.614419,2.370758,-1.022247,A1CF
2,A2M,4.425439e-16,3.962279e-18,11.333006,30.852086,1.631814,A2M
3,A4GALT,3.244282e-10,4.181932e-11,-7.670638,14.890329,-0.685450,A4GALT
4,A4GNT,5.832410e-01,5.399707e-01,-0.615582,-6.894442,-0.097649,A4GNT
...,...,...,...,...,...,...,...
14433,ZXDB,4.768478e-04,2.649797e-04,3.822484,-0.355372,0.334982,ZXDB
14434,ZXDC,2.206921e-02,1.572125e-02,2.469607,-4.132382,0.173364,ZXDC
14435,ZYG11B,1.163141e-11,8.030059e-13,8.558566,18.787044,0.608490,ZYG11B
14436,ZYX,8.268182e-14,2.145687e-15,9.890967,24.636335,1.405491,ZYX
14437,ZZEF1,1.411305e-09,2.311805e-10,-7.283773,13.207316,-0.524200,ZZEF1

In [26]:
# check duplicated values in the 'ID' column
duplicates = aggre_exocrine_like[aggre_exocrine_like.duplicated('ID', keep=False)]
duplicates

Empty DataFrame
Columns: [ID, adj.P.Val, P.Value, t, B, logFC, ORF]
Index: []

In [27]:
exocrine_sig = aggre_exocrine_like[aggre_exocrine_like['adj.P.Val'] < 0.05]
exocrine_sig = exocrine_sig[exocrine_sig['logFC'].abs() > 1]
exocrine_sig

,ID,adj.P.Val,P.Value,t,B,logFC,ORF
1,A1CF,3.283915e-05,1.531270e-05,-4.614419,2.370758,-1.022247,A1CF
2,A2M,4.425439e-16,3.962279e-18,11.333006,30.852086,1.631814,A2M
22,ABAT,1.261748e-13,3.555933e-15,-9.776739,24.137447,-1.229715,ABAT
23,ABCA1,3.906898e-11,3.491548e-12,8.228983,17.337359,1.244208,ABCA1
32,ABCB1,3.886615e-09,7.469359e-10,7.016642,12.054178,1.714561,ABCB1
...,...,...,...,...,...,...,...
14228,ZNF532,1.154045e-15,1.260180e-17,11.064837,29.709776,1.475249,ZNF532
14238,ZNF559,1.025619e-08,2.256141e-09,6.763096,10.968370,1.001199,ZNF559
14328,ZNF703,4.980104e-13,1.815534e-14,9.409128,22.527464,1.248715,ZNF703
14431,ZWINT,2.434549e-07,7.679440e-08,5.937586,7.512977,1.204447,ZWINT
14436,ZYX,8.268182e-14,2.145687e-15,9.890967,24.636335,1.405491,ZYX

In [28]:
exocrine_neg = aggre_exocrine_like[aggre_exocrine_like['adj.P.Val'] < 0.05]
exocrine_neg = exocrine_neg[exocrine_neg['logFC'].abs() < 0.2]
exocrine_neg

             ID  adj.P.Val   P.Value         t         B     logFC       ORF
5          AAAS   0.013830  0.009524 -2.658666 -3.683122 -0.127356      AAAS
12         AAMP   0.007140  0.004708 -2.910448 -3.042463 -0.123413      AAMP
18     AASDHPPT   0.035319  0.026039 -2.269095 -4.577776 -0.167368  AASDHPPT
29        ABCA7   0.049883  0.037637 -2.115014 -4.897566 -0.192075     ABCA7
53        ABCE1   0.043482  0.032527  2.176896 -4.771518  0.182090     ABCE1
...         ...        ...       ...       ...       ...       ...       ...
14377    ZNF830   0.010547  0.007137  2.763548 -3.422012  0.164604    ZNF830
14384    ZNF844   0.048498  0.036520 -2.127888 -4.871607 -0.173342    ZNF844
14395    ZNHIT1   0.003688  0.002334  3.147785 -2.396347  0.192897    ZNHIT1
14424    ZSWIM3   0.003611  0.002283 -3.155184 -2.375570 -0.183271    ZSWIM3
14434      ZXDC   0.022069  0.015721  2.469607 -4.132382  0.173364      ZXDC

[604 rows x 7 columns]

In [29]:
qm_dir = "/Users/WCVan/Downloads/pdac_analysis_Collision_data/qm_results/filtered-degs"
classic_dir = "/Users/WCVan/Downloads/pdac_analysis_Collision_data/classical_results/filtered-degs"
ex_dir = "/Users/WCVan/Downloads/pdac_analysis_Collision_data/exocrine_results/filtered-degs"

qm_pda_sig.to_csv(os.path.join(qm_dir, "qm_DAGs.tsv"), sep='\t', index=False)
classical_sig.to_csv(os.path.join(classic_dir, "classical_DAGs.tsv"), sep='\t', index=False)
exocrine_sig.to_csv(os.path.join(ex_dir, "exocrine_DAGs.tsv"), sep='\t', index=False)

qm_pda_neg.to_csv(os.path.join(qm_dir, "qm_NDAGs.tsv"), sep='\t', index=False)
classical_neg.to_csv(os.path.join(classic_dir, "classical_NDAGs.tsv"), sep='\t', index=False)
exocrine_neg.to_csv(os.path.join(ex_dir, "exocrine_NDAGs.tsv"), sep='\t', index=False)

aggre_qm_pda.to_csv(os.path.join(qm_dir, "qm_allgenes.tsv"), sep='\t', index=False)
aggre_classical.to_csv(os.path.join(classic_dir, "classical_allgenes.tsv"), sep='\t', index=False)
aggre_exocrine_like.to_csv(os.path.join(ex_dir, "exocrine_allgenes.tsv"), sep='\t', index=False)



qm_dir = "/Users/WCVan/Downloads/pdac_analysis_Collision_data/qm_results/filtered-degs-genes-only"
classic_dir = "/Users/WCVan/Downloads/pdac_analysis_Collision_data/classical_results/filtered-degs-genes-only"
ex_dir = "/Users/WCVan/Downloads/pdac_analysis_Collision_data/exocrine_results/filtered-degs-genes-only"

qm_pda_sig['ID'].to_csv(os.path.join(qm_dir, "qm_sig_genes.tsv"), sep='\t', index=False)
classical_sig['ID'].to_csv(os.path.join(classic_dir, "classical_sig_genes.tsv"), sep='\t', index=False)
exocrine_sig['ID'].to_csv(os.path.join(ex_dir, "exocrine_sig_genes.tsv"), sep='\t', index=False)

qm_pda_neg['ID'].to_csv(os.path.join(qm_dir, "qm_negative_genes.tsv"), sep='\t', index=False)
classical_neg['ID'].to_csv(os.path.join(classic_dir, "classical_negative_genes.tsv"), sep='\t', index=False)
exocrine_neg['ID'].to_csv(os.path.join(ex_dir, "exocrine_negative_genes.tsv"), sep='\t', index=False)

aggre_qm_pda['ID'].to_csv(os.path.join(qm_dir, "qm_all_genes.tsv"), sep='\t', index=False)
aggre_classical['ID'].to_csv(os.path.join(classic_dir, "classical_all_genes.tsv"), sep='\t', index=False)
aggre_exocrine_like['ID'].to_csv(os.path.join(ex_dir, "exocrine_all_genes.tsv"), sep='\t', index=False)